.section {
    margin: 0 auto;
}

.header {
    background-color: chartreuse;
    min-width: 1059px;
    margin-left: 155px;
    margin-top: 50px;
    margin-right: 150px;
    min-height: 70px;
}

.logo{
    /*float: left;*/

}

.clearfix {
    zoom: 1;
}

.first-section {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    position: absolute;
    min-height: 768px;
    min-width: 1366px;
}

.clearfix::after {
    content: "."; /* добавить содержимое: "." */
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    clear: both;  /* с обеих сторон clear */
    visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
    height: 0;  /* сделать высоту 0, чтобы не занимал место */
}




.contacts {
    float: right;
    clear: left;
    margin-top: -50px;
}

.row1 {
    float: left;
    min-width: 1366px;
   }

.row2 {
    float: left;
    min-width: 1366px;
   }

.tel-number, .email {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    float: right;
    font-size: 18px;
    color: #FFFFFF;
}


.contacts {
    /*float: right*/

}

.copyright {
    margin-bottom: 20px;
    font-family: ﻿Courier; sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    position: center;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}


.item {
    float: left;
    width: 307px;
    height: 200px;
    margin-left: 69px;
    position: relative;
    border: solid #ffffff 2px;


}

.item-change {
    width: 307px;
    height: 63px;
    position: relative;
    margin-top: -63px;
    display: none;
    background-color: #f26522;
}


.item:hover .item-change {
    display: block;
    position: absolute;
    z-index: 2;
}

.description {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}














