.container {
    width: 1280px;
    margin: 0 auto;
}

h1 {
    margin-top: 60px;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 80px;
    text-align: left;
}


.logo{
    text-decoration: none;


}

.top-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding-left: 0;
    background-color: #35444f;
    width: 1280px;
    height: 69px;
    margin-top: 45px;

}

.top-menu li {
    display: inline-block;

}

.top-menu-link {
    text-decoration: none;
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24pt;
    color: white;
    text-align: center;
}

.vertical-menu-link {
    text-decoration: none;
    padding-left: 57px;
    padding-top: 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24pt;
    text-align: right;
}

.color-vertical-menu:hover{
    background: #dbdbdb;
    font-weight: bolder;
    text-align: center;
    }

.vertical-menu-item {
    width:340px;
    background: #ffffff;
    padding-top: 24px;
    padding-bottom: 23px;
   }



ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
}


.text-container {
    width: 825px;
    margin: 0 auto;

}

.color-vertical-menu a:hover{
    color: black;
}

.vertical-menu {
    width: 340px;
    height: 395px;
    border: 2px solid #dbdbdb; /* Параметры границы */
    background: #ffffff; /* Цвет фона */
    padding: 0; /* Поля вокруг текста */
    margin: 50px 0 0;
    display: inline-block;
    vertical-align: top;
    color: #dbdbdb;

}

.picture
{
    width: 881px;
    height: 525px;
    border: 2px solid #dbdbdb; /* Параметры границы */
    background: #ffff; /* Цвет фона */
    display: inline-block;
    margin-left: 46px;
    margin-top: 50px;
    vertical-align: top;
}

.main-image {
    padding: 75px 268px 73px 297px;
}


.text-block {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #2c2c2c;
    text-align: left;
    margin-left: 400px;
    padding: 30px;

}

.footer {

    min-height: 70px;
    background-color: #b4b7ba;

}

.footer-link {
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    font-size: 28px;
    color: #0c1927;
    text-align: center;
}

.footer-menu-item {
    display: inline;
    padding-left: 8px;
}


.footer-list {
    display: inline-block;
    margin-left: 15px;
    }

.footer-copyright{

    display: inline-block;
    margin-left: 230px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    color: black;
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}

.footer .footer-list .color-footer-menu-item a:hover{

    text-decoration: underline;
    color: #3181a6
}


