body, html {
    width: 100%
}

.background-image {
    width: 100%;
    height: 900px;
    background-image: url("../img/look.com.ua-50271.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding-left: 150px;

}

.menu {
    background: #ffffff;
    width: 100%;
    height: 73px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-block {
    width: 100%;
    background: #f5f6f7;
    padding-top: 30px;
    padding-bottom: 60px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    color: rgb(55, 55, 55);
    text-align: center;
    text-transform: uppercase;
}

p
{
    font-family: 'Roboto', sans-serif;
    /*font-weight: 400;*/
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

.search-button {
    width: 190px;
    height: 50px;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #16a085;
    text-transform: uppercase;
    margin-left: 45% auto;


}

.copyright {
    background: #fff;
    width: 100%;
    height: 100px;
    text-align: right;


}

ul li a {
    text-decoration: none;
    padding-left: 170px;

}

ul {
    display: inline-block;
    list-style-type: none;

}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: right;
    margin-right: 120px;
    margin-top: 25px;
    display: inline-block;

}

.button-container
{
    position: relative;
    left: 45%;

}